@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;1,300&display=swap');
.parent {
  width: 400px;
  margin: 1% auto;
  font-family: 'Roboto', sans-serif;
  border: 1px solid;
  padding: 10px;
}

.receiverInput {
  padding: 2px 5px;
  border-radius: 1px;
  border: 1px solid;
}

.send_input {
  padding: 2px 5px;
  border-radius: 1px;
  border: 1px solid;
  margin-left: 2px;
}

.small {
  font-size: xx-small;
  color: rgb(105, 99, 99);
}

.message {
  color: #aa3636;
  font-size: large;
}

.chatholder {
  padding: 10px 0;
}